.container {
    text-align: center;
}

.div_button > input{
    background-color: aqua;
    margin-top: 10px;
}

table.myTable{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: 1px  solid black;
  }